// COLORS

$maincolor: white;
$accentcolor: #daa66f;
$grey1: #f5f5f5;
$grey2: #606060;
$grey3: #3b3b3b;
$bggrey: #f4f4f4;
$black1: #202020;
$black2: #1a1a1a;

// FONTS FAMILIES

$primary-font-family: 'Montserrat', Arial, sans-serif;
$secondary-font-family: 'Droid Serif', Times, serif;

// FONT SIZES

$heading-one: 25px;
$heading-two: 25px;
$heading-two-span: 100px;
$heading-three: 20px;
$heading-four: 15px;
$heading-five: 11px;
$paragraph: 14px;
$blockquote: 14px;
$anchor: 11px;
$largetext: 40px;
$form: 13px;

// FONT WEIGHTS

$regular: 400;
$bold: 700;

// LETTER SPACING

$quarter-em: 0.15em;
$half-em: 0.5em;


// PADDING

$pad30: 30px;

// TRANSITION BACKGROUND COLOUR

$bg-color-transition: 0.3s background-color ease;
$border-transition: 0.3s border ease;
$color-transition: 0.3s color ease;
$fill-transition: 0.3s background-color ease;

// HAMBURGER ICON

$button-height: 27px;
$button-width: 35px;